POSTGRES_USER=denys_ivshyn
POSTGRES_PASSWORD=Ivv099op$
POSTGRES_DB=smart_cv

# If backend runs inside Docker (recommended with compose)
DATABASE_URL=postgresql+psycopg://denys_ivshyn:Ivv099op$@postgres:5432/smart_cv

# If backend runs on your host machine (not inside Docker)
# DATABASE_URL=postgresql+psycopg://denys_ivshyn:Ivv099op$@localhost:5432/smart_cv
